<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <variable name="VerboseLayout" value="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}-${threadid}-[${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}] - ${message}${newline}${onexception:${exception:format=Message,ShortType,StackTrace}${newline}}" />
  <variable name="HeaderLayout" value="${longdate} Logging started${newline}"/>
  <variable name="FooterLayout" value="${newline}${longdate} Shutdown${newline}"/>
  <variable name="LogDirectory" value="C:/temp/log/"/>
  <variable name="ArchiveLogDirectory" value="C:/temp/log/archive/"/>

  <targets>
      <default-target-parameters xsi:type="File"
                                 layout="${VerboseLayout}"
                                 archiveEvery="Day"
                                 encoding="utf-8"
                                 maxArchiveFiles="0"
                                 archiveNumbering="DateAndSequence"
                                 archiveDateFormat="yyyy-MM-dd"
                                 header="${HeaderLayout}"
                                 keepFileOpen="false"
                                 concurrentWrites="true"
                                 footer="${FooterLayout}"
                                 lineEnding="None"
                                 enableArchiveFileCompression="true" />

      <target name="errorFile" xsi:type="File"
              fileName="${LogDirectory}error.txt"
              archiveFileName="${ArchiveLogDirectory}error.{#}.zip" />

      <target name="debugFile" xsi:type="File"
              fileName="${LogDirectory}debug.txt"
              archiveFileName="${ArchiveLogDirectory}debug.{#}.zip" />

      <target xsi:type="ColoredConsole"
              name="console"
              layout="${VerboseLayout}"
              header="${HeaderLayout}"
              footer="${FooterLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile,console" />
    <logger name="*" minlevel="Warn" writeTo="errorFile" />
  </rules>
</nlog>